@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body, button {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
}

.col-1 {
  display: flex;
  align-items: center;
}

.brand-name p {
  font-size: 1.5rem;
  margin-left: 11px;
}

.submitBtn {
  background: none;
  border: 1px solid lightgrey;
  padding: 17px 28px;
  border-radius: 4px;
  font-weight: 500;
}

.signIn {
  background: #4c5fd5;
  color: white;
  border: 1px solid lightgrey;
  padding: 17px 28px;
  border-radius: 4px;
  font-weight: bold;
}

/* .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  } */

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: 1px solid black;
  color: #646464;
  padding: 0.7rem 1rem;
  width: 45em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.hero_Main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 13vh 0px;
  background-color: #dadbf1;
}

.hero_Main h1 {
  font-size: 6.5em;
  font-weight: 400;
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #4c5fd5;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section_2 {
  margin-top: 10vh;
}

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.col-s-1 {
  display: flex;
  align-items: center;
  width: 42%;
  margin: 40px;
}

.image img {
  width: 100%;
}

.image {
  width: 27%;
}

.content-box-col-s-1 {
  margin-left: 24px;
}

.content-p {
  margin: 13px 0px;
}

.row-2 {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 10vh;
  flex-wrap: wrap;
}

footer {
  margin-top: 10vh;
  background-color: #000000;
  color: white;
  padding: 5vh;
}

.row-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: auto;
}

.footer_Link {
  list-style: none;
  margin-top: 4px;
}

.footer_navHolder {
  margin-top: 20px;
}

.footer-s-2-holder {
  display: flex;
  justify-content: space-around;
  width: 48%;
}

.footer-s-1-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.mobile-nav--col-2 {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .search__input {
    width: 20em;
  }
  .hero_Main h1 {
    font-size: 3.5em;
    text-align: center;
  }
  .row {
    flex-direction: column;
    padding-inline-start: 30px;
  }
  .col-s-1 {
    width: 100%;
    margin-top: 5vh;
  }
  .section_2 {
    margin-top: 2vh;
  }
  .row-footer {
    align-items: center;
    flex-direction: column;
  }

  .footer-s-1-holder {
    width: 100%;
  }
  .footer-s-2-holder {
    width: 100%;
    margin-top: 20px;
  }
  .col-f-1 {
    margin-left: -1.6em;
  }
  .col-f-2 {
    margin-left: -55.1em;
  }
  .submitBtn {
    display: none;
  }
  .signIn {
    display: none;
  }
  .mobile-nav--col-2 {
    display: flex;
  }
  .search--icon,
  .menu--icon {
    width: 26px;
    margin-left: 24px;
  }
  .mob-btn {
    background: none;
    border: none;
    padding: 17px 28px;
    border-radius: 4px;
    color: white;
    font-size: 22px;
  }
  .mob-signIn {
    background: transparent;
    color: white;
    padding: 17px 28px;
    border-radius: 4px;
    border: none;
    font-size: 22px;
  }
  .mob-item{
    list-style: none;
  }
  .mob-menu-container{
    position: absolute;
    width: 100%;
    background: black;
    left: 0;
    margin-top: 7vh;
    padding: 26px 0px;
    margin-left: -100vw;
    transition: 1s;
    height: 100vh;
    z-index: 1111;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-links-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-seperator{
    width: 76%;
  }
  .mob-menu-open{
    margin-left: 0vh;
    transition: 1s;
  }
}
